@import 'variables';

.container {
    background-color: $background-color;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 20px;
    background-color: rgb(53, 53, 59);
    color: white;
}

.modifierRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    padding: 15px;

    font-size: 12px;
}

.stats {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    padding: 15px;
    font-size: 20px;
}

.statValue {
    font-size: 28px;
}

.bonus {

}

.statName {

}
