@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Berkshire+Swash|Bilbo|Cinzel|Cinzel+Decorative|Fredericka+the+Great|Julius+Sans+One|Press+Start+2P|VT323&display=swap');

html,
body,
#root {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    background-color: #fffcf9;
}

p {
    margin: 0;
    padding: 0;
}

